.App {
  text-align: center;
}

li {
    list-style-type: none;
}

li.completed-todos {
  text-decoration: line-through;
}

a {
  text-decoration: none;
}

button {
  margin-left: 10px;
  height: 25px;
}